<div class="animated fadeInUp animation-fix">
    <div class="main-content container app-border-shadow">
        <div class="row top-subject-content back-color-lime color-white">
            <h3 class="">Experience</h3>
            <p>Distinctively productivate bricks-and-clicks channels after fully researched metrics. Progressively extend compelling imperatives whereas progressive infrastructures. Conveniently create collaborative results rather than standards compliant total linkage.</p>
        </div>        
    </div>
    <div class="container">
        <div class="row experience-panel">
            <div class="col-4">
                <div class="time-line h-100 d-inline-block float-right"></div>
                <div class="time-line-step float-right"></div>
            </div>
            <div class="col-8 experience-content">
                <div class="experience-card app-border-shadow float-left">
                    <div class="experience-title">Superintendencia de electricidad y combustibles</div>
                    <div class="experience-subtitle">Desarrollador de aplicaciones web</div>
                    <div class="experience-technology">
                        <span class="technology-label">C#</span>
                        <span class="technology-label">JQuery</span>                    
                        <span class="technology-label">Oracle 11g</span>
                        <span class="technology-label">SQl Server Management</span>
                    </div>
                    <div class="experience-action">See Details</div>
                    <div class="experience-detail">
                        <div>Diseño y desarrollo de aplicaciones web con soporte para equipos de escritorio y dispositivos móviles.</div>
                        <div>Investigación, diseño y presentación de soluciones de innovación tecnológica para el apoyo de la fiscalización en el  mercado electrónico y de combustibles.                    </div>
                        <div>Visualización de datos georeferenciados para el mercado eléctrico y de combustibles.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row experience-panel">
            <div class="col-4">
                    <div class="time-line h-100 d-inline-block float-right"></div>
                <div class="time-line-step float-right"></div>
            </div>
            <div class="col-8 experience-content">
                <div class="experience-card app-border-shadow float-left">
                    <div class="experience-title">Superintendencia de electricidad y combustibles</div>
                    <div class="experience-subtitle">Analista y programador</div>
                    <div class="experience-technology">
                        <span class="technology-label">C#</span>
                        <span class="technology-label">JQuery</span>                    
                        <span class="technology-label">Oracle 11g</span>
                        <span class="technology-label">SQl Server Management</span>
                    </div>
                    <div class="experience-action">See Details</div>
                    <div class="experience-detail">
                        <div>Diseño y despliegue de indicadores claves utilizando gráficos, tablas o información georeferencial para la fiscalización del mercado eléctrico.</div>
                        <div>Diseño de experiencia al usuario para el apoyo en la toma de decisiones.</div>
                        <div>Extracción, transformación y carga de los distintos procesos de información (reclamos, interrupciones, compensaciones, facturación, etc.).</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>