<div class="animated fadeInUp animation-fix">
        <div class="main-content container app-border-shadow">
            <div class="row top-subject-content back-color-lime color-white">
                <h3 class="">Experience</h3>
                <p>Distinctively productivate bricks-and-clicks channels after fully researched metrics. Progressively extend compelling imperatives whereas progressive infrastructures. Conveniently create collaborative results rather than standards compliant total linkage.</p>
            </div>
        </div>
        <div class="container">
            <div class="row experience-panel justify-content-center">
                <div class="col-1">
                    <div class="time-line h-100 d-inline-block float-right"></div>
                    <div class="time-line-step"></div>
                </div>
                <div class="col-8 experience-content ">
                    <div class="experience-card app-border-shadow ">
                        <div class="float-right experience-label">3 años</div>
                        <div class="experience-title fix-padding">Superintendencia de electricidad y combustibles</div>
                        <div class="experience-subtitle fix-padding">Web application developer</div>
                        <div class="experience-technology fix-padding">
                            <span class="technology-label">C#</span>                            
                            <span class="technology-label">Oracle 11g</span>
                            <span class="technology-label">SQl Server Management</span>
                            <span class="technology-label">JQuery</span>
                            <span class="technology-label">Foundation</span>                            
                        </div>
                        <div class="experience-action">Details</div>
                        <div class="row experience-detail">
                            <div class="col-1">
                                <div class="experience-definition h-100 d-inline-block float-right"></div>
                            </div>
                            <div class="col-11">
                                <div class="experience-description">Design and development of web application for desktop and mobile device.</div>
                                <div class="experience-description">Research, design and presentation of solutions on innovative technologies for the support of the supervision the electronic and fuel market.</div>
                                <div class="experience-description">Display georeferenced data for the electricity and fuel market.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row experience-panel justify-content-center">
                <div class="col-1">
                    <div class="time-line h-100 d-inline-block float-right"></div>
                    <div class="time-line-step"></div>
                </div>
                <div class="col-8 experience-content">
                    <div class="experience-card app-border-shadow ">
                        <div class="float-right experience-label">1 años</div>
                        <div class="experience-title fix-padding">Superintendencia de electricidad y combustibles</div>
                        <div class="experience-subtitle fix-padding">Analyst and programmer</div>
                        <div class="experience-technology fix-padding">
                            <span class="technology-label">C#</span>                            
                            <span class="technology-label">Oracle 11g</span>
                            <span class="technology-label">SQl Server Management</span>
                            <span class="technology-label">JQuery</span>
                            <span class="technology-label">Foundation</span>
                            <span class="technology-label">Bootstrap</span>
                            <span class="technology-label">ArcGIS</span>
                        </div>
                        <div class="experience-action">Details</div>
                        <div class="row experience-detail">
                            <div class="col-1">
                                <div class="experience-definition h-100 d-inline-block float-right"></div>
                            </div>
                            <div class="col-11">
                                <div class="experience-description">Design and deployment of key indicators using graphs, tables or georeferenced information for the control of the electricity market.</div>
                                <div class="experience-description">User experience design for support in decision-making.</div>
                                <div class="experience-description">Extraction, transformation and loading of information processes.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>