<div class="main-content container app-border-shadow animated fadeInUp animation-fix">
        <div class="row top-subject-content back-color-red color-white">
            <h3 class="">Skills</h3>
            <p>Distinctively productivate bricks-and-clicks channels after fully researched metrics. Progressively extend compelling imperatives whereas progressive infrastructures. Conveniently create collaborative results rather than standards compliant total linkage.</p>
        </div>
        <div class="row">
            <div class="col-6 skill-panel back-end">
                <h3 class="text-center">Back-End</h3>
                <div class="row">
                    <div class="top-skill-definition col-4 text-center">Information
                        <br>Design </div>
                    <div class="top-skill-definition col-4 text-center center-skill">Workflow and
                        <br>Performance </div>
                    <div class="top-skill-definition col-4 text-center">Data
                        <br>Processing </div>
                </div>
                <div class="row">
                    <div class="col-6 skill-content">
                        <div class="skill-title">C Sharp</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-6 skill-content">
                        <div class="skill-title">PHP</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-6 skill-content">
                        <div class="skill-title">Sql Server</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-6 skill-content">
                        <div class="skill-title">Oracle DB</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 skill-panel front-end">
                <h3 class="text-center">Front-End</h3>
                <div class="row">
                    <div class="top-skill-definition col-4 text-center">Responsive
                        <br>Design </div>
                    <div class="top-skill-definition col-4 text-center center-skill">Automation
                        <br>Tools </div>
                    <div class="top-skill-definition col-4 text-center">Web
                        <br>Performance </div>
                </div>
                <div class="row">
                        <div class="col-6 skill-content">
                            <div class="skill-title">JavaScript</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6 skill-content">
                            <div class="skill-title">Css</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6 skill-content">
                            <div class="skill-title">Gulp</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6 skill-content">
                            <div class="skill-title">HTML</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>