<div class="main-content container app-border-shadow animated fadeInUp animation-fix">
    <div class="row top-subject-content back-color-blue color-white">
        <h3 class="">Summary</h3>
        <p>Distinctively productivate bricks-and-clicks channels after fully researched metrics. Progressively extend compelling imperatives whereas progressive infrastructures. Conveniently create collaborative results rather than standards compliant total linkage.</p>
    </div>
    <div id="summary-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-5 align-self-center d-flex justify-content-center"> <img src="src/images/developer-definition.png"> </div>
                    <div class="col-7 align-self-center ">
                        <h3 class="">Main Title</h3>
                        <p>Credibly fashion team driven ROI through cost effective results. Authoritatively synergize collaborative channels with distinctive infrastructures. Efficiently extend accurate results for client-centric users. Interactively seize effective scenarios without technically sound niche markets. Completely repurpose inexpensive scenarios without clicks-and-mortar convergence.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-5 align-self-center d-flex justify-content-center"> <img src="src/images/developer-devices.png" alt=""> </div>
                    <div class="col-7 align-self-center ">
                        <h3 class="">Main Title</h3>
                        <p>Credibly fashion team driven ROI through cost effective results. Authoritatively synergize collaborative channels with distinctive infrastructures. Efficiently extend accurate results for client-centric users. Interactively seize effective scenarios without technically sound niche markets. Completely repurpose inexpensive scenarios without clicks-and-mortar convergence.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                    <div class="row">
                        <div class="col-5 align-self-center d-flex justify-content-center"> <img src="src/images/developer-experience.png" alt=""> </div>
                        <div class="col-7 align-self-center ">
                            <h3 class="">Main Title</h3>
                            <p>Credibly fashion team driven ROI through cost effective results. Authoritatively synergize collaborative channels with distinctive infrastructures. Efficiently extend accurate results for client-centric users. Interactively seize effective scenarios without technically sound niche markets. Completely repurpose inexpensive scenarios without clicks-and-mortar convergence.</p>
                        </div>
                    </div>
                </div>
        </div>
        <a class="carousel-control-prev" href="#summary-carousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
        <a class="carousel-control-next" href="#summary-carousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>

</div>