.animation-fix {
  -webkit-transition-duration: 400ms, 400ms;
          transition-duration: 400ms, 400ms;
  -webkit-transition-timing-function: ease-out, ease-out;
          transition-timing-function: ease-out, ease-out;
  -webkit-transition-delay: 100ms, 100ms;
          transition-delay: 100ms, 100ms;
}

body {
  background-color: #fafafa;
  overflow-y: scroll;
}

body * {
  font-family: 'Roboto', sans-serif;  
}

.app-border-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header .navbar {
  height: 48px;
  padding: 0;
  background-color: #263B4B;
  z-index: 1;
}

header .navbar .container {
  height: 100%;
}

header .navbar .nav-link {
  color: white;
  padding: 0.75rem 1rem;
}

header .header-image {
  background: gray;
  background-image: url(../images/top-image.jpg);
  height: 298px;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}

header .header-mask {
  position: absolute;
  height: 298px;
  width: 100%;
  top: 0;
  background:#263B4B;
  z-index: 0;
  opacity: 0.5;
}

header .navbar-brand {
  background-image: url(../images/top-icon.png);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-content {
  background-color: white;
  min-height: 300px;
  margin-top: 115px;
  position: relative;
  margin-bottom: 24px;
  border-radius: 3px;
}

.top-subject-content {
  padding: 24px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.top-subject-content h3{
  font-size: 24px;
}

.top-subject-content p{
  font-size: 16px;
}

.back-color-blue{  background: #039BE5;}

.back-color-green{  background: #7CB342;}

.back-color-lime{  background: #C0CA33;}

.back-color-red{  background: #EF5350;}

.back-color-purple{  background: #9C27B0;}

.color-white * { color: white; }

